@import '../../../styles/variables.scss';

.navbar-container {
  position: fixed;
  z-index: 1000;
  background-color: var(--item-background-color);
  width: 100%;
  height: 10vh;
  top: 0;
  left: 0;
}

.navbar {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__theme-button {
    cursor: pointer;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    & > * {
      width: 2rem;
      height: 2rem;
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  &__user-email {
    color: var(--primary-color);
  }

  &__signout-button {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    &:hover {
      color: var(--primary-color);
    }
  }
}
.navbar-buttons {
  display: flex;

  &__signup-button,
  &__signin-button {
    border: 1px solid var(--primary-color);
    box-sizing: border-box;

    &:hover {
      background-color: var(--primary-color);
    }

    &:hover > * {
      color: #fff;
      opacity: 1;
    }

    & > * {
      display: block;
      padding: 0.4rem 1rem;
      text-decoration: none;
      color: var(--text-color);
      opacity: 0.6;

      &.active {
        color: var(--primary-color);
        opacity: 1;
        &:hover {
          color: #fff;
        }
      }
    }
  }

  &__signup-button {
    background-color: var(--item-background-color);
    border-radius: 1rem 0 0 1rem;
  }
  &__signin-button {
    border-radius: 0 1rem 1rem 0;
  }
}
